@{
    ViewBag.Title = "About";
}
<h1>Еня-Тур.</h1>

<p align="justify">
    ООО «Еня-Тур» было создано в марте 2008 г.  Компания позиционирует себя, как многопрофильное Турагентство города Владимира.

</p><p align="justify">
    Наша работа строится по принципу ориентации на клиента и построения надежных партнерских отношений...    « Каждый гость - уникальность!» - вот наш девиз !
</p><p align="justify">
    Вы собрались в поездку? Вас манит неизведанное, необычное, эксклюзивное, экстравагантное...?  «Еня-Тур» предлагает Вам стильное и незабываемое путешествие!
    Для Вас могут быть со вкусом подобраны и забронированы отдельные отели и виллы класса De Luxe в любом уголке мира, уникальные экскурсионные маршруты, увлекательные морские круизы.
</p><p align="justify">
    Мы готовы организовать для Вас путешествия в самые экзотические страны мира, отдых в известных мировых SPA- центрах, а также на лучших горнолыжных курортах.
</p><p align="justify">
    Для юных путешественников - детский отдых и  максимум пользы! Мы с удовольствием подберем специальные программы обучения в Великобритании, США, Франции, Германии, Канаде, Испании, Швейцарии, на Мальте. Пусть Ваш ребенок учит язык и набирается знаний отдыхая!
</p><p align="justify">
    Наша Компания предоставит Вам различные дополнительные услуги:  бронирование и приобретение авиабилетов; помощь при оформлении виз в страны Шенгенского соглашения, страны Азии, США, Канады;  оформление медицинских страховок для выезжающих зарубеж,  организация индивидуальных трансферов, VIP-сервис в аэропортах, посещение концертов звезд эстрады, шоу, выставок, аренду автомобилей, яхт и многое другое.
</p><p align="justify">
    Корпоративным клиентам Компания «Еня-Тур» предлагает полный спектр услуг и помощь по организации деловых поездок и корпоративных мероприятий, деловых встреч и переговоров, инсентив-программ, конференций и семинаров за рубежом.
</p><p align="justify">
    Доверьте свой отдых нашей Компании, и мы воплотим в жизнь даже самую невероятную Вашу мечту!
</p>

